name: Test

on:
  - push
  - pull_request

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test
          auto-update-conda: true
          auto-activate-base: false

      - name: install the package
        run: |
          "mode='developer' bash ${GITHUB_WORKSPACE}/install.sh"

      - name: run the tests and check for test coverage
        run: coverage run -m pytest

      - name: generate the test coverage report and upload it to codecov
        run: |
          coverage report -m
          codecov
          
      - name: check the code style
        run: flake8
